.commentCategory {
  width: 310px;
  margin: 5px;
  padding-left: 30px;
}

input {
  border: none;
}
input:focus {
  outline: none;
}
.toggleDiv {
  width: 380px;
}
.enlargeDiv {
  width: 380px;
  border: 1px solid black;
  background-color: white;
}
