.replies {
  width: 150px;
  margin-top: 10px;
  margin-left: 40px;
}
.commentBlock {
  width: 240px;
}
h4 {
  margin: 0;
  padding: 0;
  background-color: white;
}
#upvoteComp {
  margin-left: 10px;
  display: flex;
  align-items: flex-end; /* Vertically center items */
  justify-content: flex-start; /* Align items to the right */
}
.something {
  padding-left: 40px;
  padding-top: 5px;
  background-color: white;
  padding-bottom: 5px;
}
#angleUp {
  width: 20px;
  height: 20px;
}
#upvote {
  padding: 0;
  font-weight: 800;
  margin-left: 10px;
}
